.categories__item:not(:last-child) {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 64px;
  }
}
.categories__img-wrapp {
  display: flex;

  margin-bottom: 16px;
  gap: 20px;

  @include tablet {
    gap: 24px;
  }
}
.categories__img-wide {
  width: 130px;
  height: 130px;

  @include tablet {
    width: 392px;
    height: 187px;
  }
  @include desktop {
    width: 672px;
    height: 320px;
  }
}
.categories__img-squire {
  width: 130px;
  height: 130px;

  @include tablet {
    width: 184px;
    height: 187px;
  }
  @include desktop {
    width: 324px;
    height: 320px;
  }
}
.categories__title {
  color: #292929;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}
